/* .page-register {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: antiquewhite;
}

.cover-register {
  background-color: white;
  width: 30em;
  height: 40em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.input-register {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 4em;
  width: 30em;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
}

.input-register:focus {
  outline-color: rgb(32, 177, 255);
}

.register-page-buttons {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.register-btn {
  border: none;
  width: 45%;
  height: 3em;
  background-color: rgb(32, 177, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.01s;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: bold;
}

.register-btn:hover {
  transform: scale(1.1);
}

.already-registered-btn {
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.already-registered-btn:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.text {
  position: relative;
  bottom: -2em;
} */
